*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-wrap: wrap;

}
:root{ 
    --color-fondo: #afafaf88;
    --color-secundario: #464545;
    --color-texto: rgb(0, 225, 255);
    --border-circle: 1rem;
    --text-size: 1rem;
    --color-change: #ffffff;
}

.body-index{
    background-color: #afafaf88;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1rem;
    display: grid;
    grid-template:
    'header' 3rem
    'nav' 2rem
    'main' auto
    'footer' 1rem;
}
.dark{
    background-color: black;
}
.cards{
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.card{
    background-color: var(--color-change);
    color: var(--color-secundario);
    font-weight: bold;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 12rem;
    gap: 1rem;
    height: 18rem;
}
p{
    font-size: var(--text-size);
}
/* .contact{
    padding: 1rem;
    margin: 0 1rem;
} */
.form-info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.form-comment{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.send{
    margin-top: 1rem;
    cursor: pointer;
    font-size: var(--text-size);
}
.send:active{
    transform: scale(0.9);
}
.send:hover{
    color: var(--color-change);
}

section{
    background-color: var(--color-secundario);
    color: var(--color-texto);
    padding: 1rem;
    gap: 1rem;
    border-radius: var(--border-circle);
    display: flex;
    flex-direction: column;
    align-items: center; 
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
}

.header-index{
    border: 1px solid black;
    border-radius: var(--border-circle);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-texto);
    background-color: var(--color-secundario);
    grid-area: header;

}
a,.send,.btn-menu{
    text-decoration: none;
    color: var(--color-secundario);
    border: 1px black solid;
    padding: 1rem;
    border-radius: var(--border-circle);
    background-color: var(--color-texto);
    font-weight: bold;
}

a:hover{
    color: var(--color-change);
}


li{
    list-style: none;
    color: var(--color-secundario);
    font-weight: bold;
}
ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

form .form-info input, form .form-comment textarea{
    background-color: var();
    border-radius: var(--border-circle);
    padding: 1rem;
    color: var(--color-secundario);
    font-weight: bold;
    font-size: var(--text-size);
}

/* .proyectos{
    display:flex;
    gap: 5rem;
} */
.secciones{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}
button{
    cursor: pointer;
}
button:active{
    transform: scale(0.9);
}
nav{
    background-color: var(--color-texto);
    grid-area: nav;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-circle);
    height: 3rem;
    height: max-content;


}
main{
    grid-area: main;
    min-height: 100vh;

}
footer{
    background-color: aquamarine;
    grid-area: footer;
}
.body-mascotas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-fondo);
    grid-template:
    'header' 3rem
    'main' auto
    'footer' 1rem;
}
.header-mascotas{
    border: 1px solid black;
    border-radius: var(--border-circle);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-texto);
    gap: 1rem;
    padding: 1rem 0;
}
.main-mascotas{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(auto-fit,minmax(12rem,1fr));
    grid-gap: 3rem;
}
.gallina{
    grid-column: 4/11;
    grid-row: 3/4;
    display: flex;
    background-image: url(imagenes/gallina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.conejo{
    grid-column: 4/7;
    grid-row: 2/3;
    display: flex;
    background-image: url(imagenes/conejo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.perro{
    grid-row: 2/4;
    grid-column: 1/4;
    display: flex;
    background-image: url(imagenes/perro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.gato{
    grid-row: 2/3;
    grid-column: 3/8;
    display: flex;
    background-image: url(imagenes/gato.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.loro{
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    background-image: url(imagenes/loro.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.caballo{
    grid-column: 5/11;
    grid-row: 1/2;
    display: flex;
    background-image: url(imagenes/caballos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: center;
}
article{
    display: flex;
    flex-direction: column;
    color: var(--color-texto);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease;
    border-radius: var(--border-circle);
    padding: 0 1rem;
    overflow: hidden;
}
article:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 20px black;    
}
.form-info div{
    display: flex;
    flex-direction: column;
}
.footer-index{
    border-radius: var(--border-circle);
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
}
.links{
    display: flex;
    align-content: center;
    flex-direction: row;
}


.footer-cont{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.footer-cont a{
    max-width: 50px;
    max-height: 50px;
}
.footer-index p{
    align-self: center;
}

@media(max-width:540px ){
    nav{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
        /* position: absolute; */
        left: 0;

    }
    section.about{
        margin-top: 11rem;
    }
    ul{
        flex-direction: column;
    }
    .proyectos .cards{
        display: flex;
        flex-direction: column;
    }
   .main-mascotas{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(3,1fr);
   }
   .loro{
    grid-column: 1/5;
    grid-row: 1/2;
   }
   .perro{
    grid-column: 1/5;
    grid-row: 2/3;
   }
   .conejo{
    grid-column: 1/5;
    grid-row: 3/4;
   }
   .caballo{
    grid-column: 5/11;
    grid-row: 1/2;
   }
   .gato{
    grid-column: 5/11;
    grid-row: 2/3;
   }
   .gallina{
    grid-column: 5/11;
   }
}

@media (min-width: 540px) and (max-width: 912px){
    /* nav{
        background-color: blue;
    } */
     .main-mascotas{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,1fr);
   }
   .loro{
    grid-column: 1/4;
   }
   .caballo{
    grid-column: 4/7;
   }
   .gato{
    grid-column: 7/10;
    grid-row: 1/2;
   }
   .perro{
    grid-row: 2/3;
    grid-column: 1/4;
   }
   .conejo{
    grid-column: 4/7;
    grid-row: 2/3;
   }
   .gallina{
    grid-row: 2/3;
    grid-column: 7/10;
   }
}